@charset "UTF-8";

#editButton {
	width: 80px;
	margin: auto;
	color: white;
	border: 1px #81BEF7;
	background: white;
	padding: 5px 5px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

.panel-primary>.panel-heading {
	background-color: darkslategray;
	border-color: white;
}

.panel-primary {
	border-color: black;
}

#deleteButton {
	width: 80px;
	margin: auto;
	border: 1px #E2A9F3;
	background: lightgrey;
	padding: 5px 5px;
	text-align: center;
	font-weight: bold;
	display: inline-block;
}

#buttonArea {
	text-align: center;
	padding: 10px;
}

div.card {
	/* width: 100%; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	text-align: left;
	margin: 14px;
	position: relative;
	float: left;
}

div.header {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	font-size: 40px;
}

div.description {
	padding: 10px;
}

#desc1 {
	font-size: 20px;
	text-align: left;
	font-weight: 700;
	padding-left: 5%;
}

#list_area {
	width: 100%;
	padding: 0px 80px;
	margin: auto;
}

@media only screen and (min-width: 520px) {
	div.card {
		width: 44%;
	}
}

@media only screen and (min-width: 768px) {
	div.card {
		width: 29%;
	}
}

@media only screen and (min-width: 1024px) {
	div.card {
		width: 22%;
	}
}